# Backend Server Configuration
PORT=3000

# Oracle Database Configuration
# In Docker Compose, the database host matches the database service name: "oracle-db"
DB_USER=SYSTEM
DB_PASSWORD=oracle_password
DB_CONNECT_STRING=oracle-db:1521/FREEPDB1
